In [1]:
import pandas as pd

In [37]:
customer = pd.read_csv('customers_data.csv')
product = pd.read_csv('products_data.csv')
transaction = pd.read_csv('transactions_data.csv')

In [39]:
customer

,Company_ID,Company_Name,Company_Profit,Address
0,1.0,Tech Enterprises 1,80701.0,"EDSA, Barangay 606, Pasig, Philippines"
1,2.0,Global Partners 2,80511.0,"Commonwealth Ave, Barangay 789, Taguig, Philip..."
2,3.0,Quantum Associates 3,110664.0,"Roxas Blvd, Barangay 505, Pasig, Philippines"
3,4.0,Prime Network 4,NaN,"Alabang-Zapote Rd, Barangay 202, Taguig, Phili..."
4,5.0,Elite Ventures 5,69427.0,"Ayala Avenue, Barangay 101, Makati, Philippines"
...,...,...,...,...
95,96.0,Dynamic Network 96,101428.0,"Alabang-Zapote Rd, Brgy. 456, Cebu City, Phili..."
96,97.0,Quantum Holdings 97,33449.0,"EDSA, Barangay 789, Manila, Philippines"
97,98.0,Pioneer Ventures 98,71095.0,"Roxas Blvd, Barangay 123, Taguig, Philippines"
98,NaN,Elite Corp 99,107929.0,"Alabang-Zapote Rd, Barangay 303, Makati, Phili..."
99,100.0,Global Solutions 100,NaN,"Ayala avenue, barangay 456, taguig, philippines"

In [29]:
product

    Product_ID                  Product_Name Product_Price
0          1.0            FinPredictor Suite      ?140,000
1          2.0        MarketMinder Analytics      ?168,000
2          3.0          TrendWise Forecaster      ?100,800
3          4.0        CustomerScope Insights      ?123,200
4          5.0           SalesSync Optimizer       ?84,000
5          6.0          RevenueVue Dashboard      ?179,200
6          7.0   DataBridge Integration Tool      ?151,200
7          NaN             RiskRadar Monitor      ?151,200
8          9.0                     Product 9      ?112,000
9         10.0            SegmentX Targeting       ?89,600
10        11.0           OptiFlow Automation      ?156,800
11        12.0              BudgetMaster Pro       ?84,000
12        13.0           ForecastXcelerator       ?196,000
13        14.0  InsightMax Insights Platform      ?128,800
14        15.0            NexGen Segmentator      ?100,800
15         NaN               SpendTrack Plus      ?106,400
16        17.0              RealTime Revenue      ?168,000
17        18.0        DashSync Analytics Hub      ?134,400
18        19.0              EcoNomix Modeler       ?95,200
19        20.0  FinSphere Intelligence Suite      ?224,000

In [9]:
transaction

,Unnamed: 0,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost
0,0.0,1.0,88.0,6.0,NaN,2024/03/26,194379.147964,1075200.0
1,1.0,2.0,29.0,19.0,16.0,"July 09, 2024",97930.993380,1428000.0
2,2.0,NaN,28.0,18.0,6.0,04/13/2024,126095.547778,940800.0
3,3.0,4.0,85.0,12.0,12.0,09-06-2023,NaN,1008000.0
4,4.0,5.0,47.0,3.0,8.0,07/06/2021,99575.609634,705600.0
...,...,...,...,...,...,...,...,...
9995,9995.0,NaN,NaN,10.0,NaN,"June 05, 2022",NaN,627200.0
9996,9996.0,9997.0,39.0,2.0,9.0,2021/05/17,159518.597391,1512000.0
9997,9997.0,NaN,90.0,1.0,15.0,"July 19, 2022",128137.094759,1960000.0
9998,9998.0,9999.0,33.0,NaN,19.0,2021/04/15,81786.119894,1680000.0
9999,9999.0,NaN,77.0,16.0,14.0,29-10-2023,115708.404715,1489600.0

In [33]:
customer.isnull().sum()

Company_ID        0
Company_Name      0
Company_Profit    0
Address           0
dtype: int64

In [7]:
product.isnull().sum()

Product_ID       2
Product_Name     0
Product_Price    0
dtype: int64

In [41]:
customer

,Company_ID,Company_Name,Company_Profit,Address
0,1.0,Tech Enterprises 1,80701.0,"EDSA, Barangay 606, Pasig, Philippines"
1,2.0,Global Partners 2,80511.0,"Commonwealth Ave, Barangay 789, Taguig, Philip..."
2,3.0,Quantum Associates 3,110664.0,"Roxas Blvd, Barangay 505, Pasig, Philippines"
3,4.0,Prime Network 4,NaN,"Alabang-Zapote Rd, Barangay 202, Taguig, Phili..."
4,5.0,Elite Ventures 5,69427.0,"Ayala Avenue, Barangay 101, Makati, Philippines"
...,...,...,...,...
95,96.0,Dynamic Network 96,101428.0,"Alabang-Zapote Rd, Brgy. 456, Cebu City, Phili..."
96,97.0,Quantum Holdings 97,33449.0,"EDSA, Barangay 789, Manila, Philippines"
97,98.0,Pioneer Ventures 98,71095.0,"Roxas Blvd, Barangay 123, Taguig, Philippines"
98,NaN,Elite Corp 99,107929.0,"Alabang-Zapote Rd, Barangay 303, Makati, Phili..."
99,100.0,Global Solutions 100,NaN,"Ayala avenue, barangay 456, taguig, philippines"

In [47]:
customer['Company_ID'] = customer['Company_ID'].fillna(customer['Company_ID'].ffill)
customer['Company_Profit'] = customer['Company_Profit'].fillna(value=customer['Company_Profit'].median())

In [49]:
customer

,Company_ID,Company_Name,Company_Profit,Address
0,1.0,Tech Enterprises 1,80701.0,"EDSA, Barangay 606, Pasig, Philippines"
1,2.0,Global Partners 2,80511.0,"Commonwealth Ave, Barangay 789, Taguig, Philip..."
2,3.0,Quantum Associates 3,110664.0,"Roxas Blvd, Barangay 505, Pasig, Philippines"
3,4.0,Prime Network 4,75301.5,"Alabang-Zapote Rd, Barangay 202, Taguig, Phili..."
4,5.0,Elite Ventures 5,69427.0,"Ayala Avenue, Barangay 101, Makati, Philippines"
...,...,...,...,...
95,96.0,Dynamic Network 96,101428.0,"Alabang-Zapote Rd, Brgy. 456, Cebu City, Phili..."
96,97.0,Quantum Holdings 97,33449.0,"EDSA, Barangay 789, Manila, Philippines"
97,98.0,Pioneer Ventures 98,71095.0,"Roxas Blvd, Barangay 123, Taguig, Philippines"
98,<bound method NDFrame.ffill of 0 1.0\n1 ...,Elite Corp 99,107929.0,"Alabang-Zapote Rd, Barangay 303, Makati, Phili..."
99,100.0,Global Solutions 100,75301.5,"Ayala avenue, barangay 456, taguig, philippines"

In [15]:
transaction.isnull().sum()

Unnamed: 0          1000
Transaction_ID      1000
Company_ID          1000
Product_ID          1000
Quantity            1000
Transaction_Date       0
Product_Price       1000
Total_Cost          1000
dtype: int64

In [11]:
transaction['Quantity'] = transaction['Quantity'].fillna(value=transaction['Quantity'].median())

In [13]:
transaction['Total_Cost'] = transaction['Total_Cost'].fillna(value=transaction['Total_Cost'].median())

In [11]:
transaction

,Unnamed: 0,Transaction_ID,Company_ID,Product_ID,Quantity,Transaction_Date,Product_Price,Total_Cost
0,0.0,1.0,88.0,6.0,11.0,2024/03/26,194379.147964,1075200.0
1,1.0,2.0,29.0,19.0,16.0,"July 09, 2024",97930.993380,1428000.0
2,2.0,NaN,28.0,18.0,6.0,04/13/2024,126095.547778,940800.0
3,3.0,4.0,85.0,12.0,12.0,09-06-2023,NaN,1008000.0
4,4.0,5.0,47.0,3.0,8.0,07/06/2021,99575.609634,705600.0
...,...,...,...,...,...,...,...,...
9995,9995.0,NaN,NaN,10.0,11.0,"June 05, 2022",NaN,627200.0
9996,9996.0,9997.0,39.0,2.0,9.0,2021/05/17,159518.597391,1512000.0
9997,9997.0,NaN,90.0,1.0,15.0,"July 19, 2022",128137.094759,1960000.0
9998,9998.0,9999.0,33.0,NaN,19.0,2021/04/15,81786.119894,1680000.0
9999,9999.0,NaN,77.0,16.0,14.0,29-10-2023,115708.404715,1489600.0

In [51]:
product['Product_ID'] = product['Product_ID'].fillna(product['Product_ID'].ffill)

In [53]:
product

,Product_ID,Product_Name,Product_Price
0,1.0,FinPredictor Suite,"?140,000"
1,2.0,MarketMinder Analytics,"?168,000"
2,3.0,TrendWise Forecaster,"?100,800"
3,4.0,CustomerScope Insights,"?123,200"
4,5.0,SalesSync Optimizer,"?84,000"
5,6.0,RevenueVue Dashboard,"?179,200"
6,7.0,DataBridge Integration Tool,"?151,200"
7,<bound method NDFrame.ffill of 0 1.0\n1 ...,RiskRadar Monitor,"?151,200"
8,9.0,Product 9,"?112,000"
9,10.0,SegmentX Targeting,"?89,600"
10,11.0,OptiFlow Automation,"?156,800"
11,12.0,BudgetMaster Pro,"?84,000"
12,13.0,ForecastXcelerator,"?196,000"
13,14.0,InsightMax Insights Platform,"?128,800"
14,15.0,NexGen Segmentator,"?100,800"
15,<bound method NDFrame.ffill of 0 1.0\n1 ...,SpendTrack Plus,"?106,400"
16,17.0,RealTime Revenue,"?168,000"
17,18.0,DashSync Analytics Hub,"?134,400"
18,19.0,EcoNomix Modeler,"?95,200"
19,20.0,FinSphere Intelligence Suite,"?224,000"